<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>

    <link rel="stylesheet" href="css/index.css">

    <!-- icons CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="js/index.js" defer></script>
</head>

<body>
    <div id="info-card">
        <p></p>
        <i id="close-info-card" class="material-icons">close</i>
    </div>
    <main>
        <h1>Tic-Tac-Toe</h1>
        <label for="username">Enter username</label>
        <input type="text" name="username" id="username" maxlength="20">
        <label for="room-id-input">Enter room id</label>
        <input type="text" name="roomId" id="roomId" maxlength="6">
        <button class="primary-btn" type="submit" id="join-btn">Join</button>
        <p id="or">OR</p>
        <button class="primary-btn" type="submit" id="create-btn">Create</button>
    </main>
</body>

</html>