<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <script>
        const roomId = "<%= roomId %>"
        const username = "<%= username %>"    
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/room.js" defer></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/room.css">
</head>

<body>
    <header>
        <nav>
            <button id="game-reset">
                <i id="reset" class="material-icons">autorenew</i>
            </button>
            <h1>TIC-TAC-TOE</h1>
            <div id="roomId">
                <h5>
                    Room ID: <%= roomId %>
                </h5>
            </div>
        </nav>
    </header>
    <div id="request-alert-div">
        <h1></h1>
        <button class="request-btn" id="accept">accept</button>
        <button class="request-btn" id="reject">reject</button>
    </div>
    <div id="info-card">
        <p></p>
        <i id="close-info-card" class="material-icons">close</i>
    </div>
    <h1 id="wait-text">Waiting for other player to join...</h1>
    <main>
        <h2 id="alerts"></h2>
        <h3 id="scores"> 0 / 0</h3>
        <div class="grid-container"></div>
        <button id="btn">reset</button>
    </main>
</body>

</html>